name: Job Settings Practice # ワークフロー名

on:
  push:
    branches:
      - main

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # リポジトリを取得
      - name: セットアップ（ダミー）
        run: echo "環境セットアップ完了"

  build:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: ビルド処理（ダミー）
        run: echo "ビルド完了"

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: テスト（ダミー）
        run: echo "テスト成功"
  report-success:
    if: success()
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 成功レポート（ダミー）
        run: echo "すべてのジョブが成功しました！"

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: デプロイ（ダミー）
        run: echo "デプロイ実行"
