name: Step Setting Practice # ステップ設定の練習
on:
  push:
    paths:
      - ".github/workflows/step-setting-practice.yml"
jobs:
  working-directory:
    runs-on: ubuntu-latest
    steps:
      - name: First step in root
        run: pwd

      - name: Second step in src directory
        working-directory: ./src
        run: pwd

      - name: Third step in test directory
        working-directory: ./test
        run: pwd
